<table>
  <thead>
    <tr>
      <th>Témák</th>
      <th>Üzenetek</th>
      <th>Utolsó üzenet</th>
      <th>Utolsó név</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, topic %></td>
        <td><%= topic.posts.size %></td>
        <td><%= topic.last_post.try(:created_at_l) %></td>
        <td><%= topic.last_post.try(:user).try(:username) %></td>
        <td><%= link_to_if(is_admin?, 'Edit', edit_topic_path(topic)){} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
