<div class = "topic_headings">
  <span class = "topic_title">Témák <%= link_to image_tag("add.png", class: "button"), new_topic_path %></span>
  <span class = "topic_messages">Üzenetek</span>
  <span class = "topic_last_message">Utolsó üzenet</span>
  <span class = "topic_last_poster">Utolsó név</span>
</div>
<div class = "topic_list">
  <% @topics.each do |topic| %>
    <div class = "<%=session[:visited_topics][topic.id.to_s] && session[:visited_topics][topic.id.to_s] >= topic.updated_at ? "visited_topic" : "unvisited_topic"%>_list_element">
      <span class = "topic_title">
        <%= link_to topic.name, topic, class: "" %>
        <%= link_to_if(is_admin?, image_tag("edit.png", class: "button"), edit_topic_path(topic), target: '_blank'){} %>
      </span>
      <span class = "topic_messages"><%= topic.posts.size %> db.</span>
      <span class = "topic_last_message"><%= day_beforize(topic.last_post.created_at) if topic.last_post %></span>
      <span class = "topic_last_poster"><%= link_to(topic.last_post.user.username, topic.last_post.user, target: '_blank') if topic.last_post %></span>
    </div>
  <% end %>
</div>


