<div class = "topic_description">
  <%= @topic.description %>
</p>
</div>
<div class = "form_container">
  <%= form_tag topic_posts_path(@topic), method: 'post' do %>
    <h2>Hozzászólás:</h2>
    <%= hidden_field_tag :answer_to, params[:answer_to_id] %>  
    <%= hidden_field_tag :user_id, current_user.id %>  
    <%= text_area_tag :full_text, nil, class: "tinymce" %>
    <%= tinymce %>
    <%= submit_tag 'Mehet!', :name => nil %>
  <% end %>
</div>

<%= paginate @posts %>
 
<div class="topic_posts">
  <%= render partial: "/posts/posts" %>
</div>
