<div class = "topic_description">
  <p>
    <%= @topic.description %>
  </p>
  <%= render "level_forecast" %>
</div>
<div id = "post_form_container">
  <%= form_tag topic_posts_path(@topic), method: 'post', multipart: true do %>
    <% if @topic.errors.any? %>
      <div id="error_explanation">
        <h2><%= @topic.errors.count %> hiba miatt nem menthető:</h2>
  
        <ul>
        <% @topic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <p>Hozzászólás:</p>
    <%= hidden_field_tag :user_id, current_user.id %>  
    <%= text_area_tag :full_text, nil, class: "tinymce", rows: 4 %>
    <%= tinymce unless session[:is_mobile] %>
    <%= file_field_tag "images[]", multiple: true, accept: ".jpg,.jpeg,.gif" %><br/>
    <%= submit_tag 'Mehet!', :name => nil %>
  <% end %>
</div>

<%= paginate @posts %>
 
<div class="topic_posts">
  <%= render partial: "/posts/posts" %>
</div>
<%= paginate @posts %>
