<div class = "topic_description">
  <p>
    <%= @topic.description %>
  </p>
  <%= render "level_forecast" %>
</div>
<div class = "post_form_container">
  <%= form_tag topic_posts_path(@topic), method: 'post' do %>
    <p>Hozzászólás:</p>
    <%= hidden_field_tag :user_id, current_user.id %>  
    <%= text_area_tag :full_text, nil, class: "tinymce" %>
    <%= tinymce %>
    <%= submit_tag 'Mehet!', :name => nil %>
  <% end %>
</div>

<%= paginate @posts %>
 
<div class="topic_posts">
  <%= render partial: "/posts/posts" %>
</div>
<%= paginate @posts %>
