<div class = "topic_description">
  <p>
    <%= @topic.description %>
  </p>
  <%= render "level_forecast" %>
</div>
<div id = "post_form_container">
  <%= form_tag topic_posts_path(@topic), method: 'post', multipart: true do %>
    <% if @topic.errors.any? %>
      <div id="error_explanation">
        <h2><%= @topic.errors.count %> hiba miatt nem menthető:</h2>
  
        <ul>
        <% @topic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <p>Hozzászólás:</p>
    <%= hidden_field_tag :user_id, current_user.id %>  
    <% if session[:is_mobile] %>
      <%= text_area_tag :full_text, nil, id: "full_text--mobile" %>
      <div id = "mobile_tools">
        <button type = "button" id = "mobile_insert_link">Linkbeszúrás</button><button type = "button" id ="mobile_insert_picture">Képbeszúrás</button>
      </div>
    <% else %>
      <%= text_area_tag :full_text, nil, class: "tinymce", rows: 4 %>
      <%= tinymce %>
    <% end %>
    <button type = "button" id ="upload_images">Képfeltöltés</button>
    <%= file_field_tag "images[]", multiple: true, accept: ".jpg,.jpeg,.gif,.png", id: "upload_images_field" %><br/>
    <%= submit_tag 'Mehet!', :name => nil %>
  <% end %>
</div>

<%= paginate @posts %>
 
<div class="topic_posts">
  <%= render partial: "/posts/posts" %>
</div>
<%= paginate @posts %>
