<tbody>
  <tr>
    <td><%= link_to user.username, user %></td>
    <td><%= user.name %></td>
    <td><%= day_beforize(user.last_request_at) %></td>
    <td><%= link_to "#{user.posts.size} hozzászólás", posts_path(user_id: user.id) %></td>
    <td><%= link_to "#{user.uploads.size} feltöltés", uploads_path(user_id: user.id) %></td>
  </tr>
</tbody>
