<table>
  <thead>
    <tr>
      <th>Felhasználónév</th>
      <th>E-mail</th>
      <th>Név</th>
      <th>Bejelentkezések száma</th>
      <th>Utolsó tevékenység ideje</th>
      <th>Hozzászólások</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.login_count %></td>
        <td><%= day_beforize(user.last_request_at) %></td>
        <td><%= link_to "#{user.posts.size} hozzászólás", posts_path(user_id: user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

