<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>Signature</th>
      <th>Name</th>
      <th>Active</th>
      <th>Login count</th>
      <th>Last request at</th>
      <th>Current login at</th>
      <th>Last login at</th>
      <th>Current login ip</th>
      <th>Last login ip</th>
      <th>Hozzászólások</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.signature %></td>
        <td><%= user.name %></td>
        <td><%= user.active %></td>
        <td><%= user.login_count %></td>
        <td><%= user.last_request_at %></td>
        <td><%= user.current_login_at %></td>
        <td><%= user.last_login_at %></td>
        <td><%= user.current_login_ip %></td>
        <td><%= user.last_login_ip %></td>
        <td><%= link_to "#{user.posts.size} hozzászólás", posts_path(user_id: user.id) %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
