<h1>Felhasználók <%= link_to_if(is_admin?, image_tag("add", class: "button"), new_user_path){} %></h1>

<table>
  <thead>
    <tr>
      <th>Felhasználónév</th>
      <th>E-mail</th>
      <th>Név</th>
      <th>Aktív?</th>
      <th>Bejelentkezések száma</th>
      <th>Utolsó tevékenység ideje</th>
      <th>Aktuális bejelentkezés</th>
      <th>Utolsó bejelentkezés</th>
      <th>Hozzászólások</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.active %></td>
        <td><%= user.login_count %></td>
        <td><%= user.last_request_at %></td>
        <td><%= user.current_login_at %></td>
        <td><%= user.last_login_at %></td>
        <td><%= link_to "#{user.posts.size} hozzászólás", posts_path(user_id: user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

