<h3><%= @user.username %><%= link_to_if(is_admin? || current_user == @user, image_tag("edit.png", class:"button"), edit_user_path(@user)){} %> </h3>


<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Avatar:</strong>
  <% if @user.avatar %>
    <%= image_tag @user.avatar.picture.url %>
    <%= link_to_if(is_admin? || current_user == @user, image_tag("edit.png", class: "button"), edit_avatar_path(@user.avatar, user_id: @user.id)) %>
  <% else %>
    <%= link_to_if(is_admin? || current_user == @user, image_tag("add.png", class: "button"), new_user_avatar_path(@user)) %>
  <% end %>
</p>

<p>
  <strong>Aláírás:</strong>
  <%= @user.signature %>
</p>

<p>
  <strong>Név:</strong>
  <%= @user.name %>
</p>
<% if is_admin? %>
  <p>
    <strong>Aktív?</strong>
    <%= @user.active %>
  </p>
  
  <p>
    <strong>Bejelentkezések száma:</strong>
    <%= @user.login_count %>
  </p>
  
  <p>
    <strong>Aktuális bejelentkezés időpontja:</strong>
    <%= day_beforize(@user.current_login_at) %>
  </p>
  
  <p>
    <strong>Utolsó bejelentkezés időpontja:</strong>
    <%= day_beforize(@user.last_login_at) %>
  </p>
  
  <p>
    <strong>Jelenlegi IP:</strong>
    <%= @user.current_login_ip %>
  </p>
  
  <p>
    <strong>Utolsó IP:</strong>
    <%= @user.last_login_ip %>
  </p>
<% end %>
  
  <p>
    <strong>Itt járt:</strong>
    <%= day_beforize(@user.last_request_at) %>
  </p>

<p>
  <strong>Hozzászólások:</strong>
  <%= link_to "#{@user.posts.size} db.", posts_path(user_id: @user.id) %>
</p>

<p>
  <strong>Feltöltések:</strong>
  <%= link_to "#{@user.uploads.size} db.", uploads_path(user_id: @user.id) %>
</p>
<% if current_user == @user %>
 
<p>
  <strong>Fontméret:</strong><br/> 
    <%= link_to_unless(session[:font_size] == "70%", "Tarasz", set_custom_vars_users_path(font_size: "70%")) %> ● <%= link_to_unless(session[:font_size] == "90%", "Tarasz + 20%", set_custom_vars_users_path(font_size: "90%")) %> ● <%= link_to_unless(session[:font_size] == "110%", "Tarasz + 40%", set_custom_vars_users_path(font_size: "110%")) %> ● <%= link_to_unless(session[:font_size] == "120%", "Normál", set_custom_vars_users_path(font_size: "120%")) %><br/>
</p>

<p>
  <strong>Hozzászólások/oldal:</strong> 
  <%= form_tag set_custom_vars_users_path, method: "get" do %>
    <%= number_field_tag(:posts_per_page, session[:posts_per_page] || 40, in: 10...100, step: 10) %>
    <%= submit_tag "Mehet" %>
  <% end %> 
</p>

<% end %>

