<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Avatar:</strong>
  <% if @user.avatar %>
    <%= image_tag @user.avatar.picture.url %>
    <%= link_to "Csere", edit_user_avatar_path(@user) %>
  <% else %>
    <%= link_to "Feltöltés", new_user_avatar_path(@user) %>
  <% end %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @user.signature %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @user.active %>
</p>

<p>
  <strong>Login count:</strong>
  <%= @user.login_count %>
</p>

<p>
  <strong>Last request at:</strong>
  <%= @user.last_request_at %>
</p>

<p>
  <strong>Current login at:</strong>
  <%= @user.current_login_at %>
</p>

<p>
  <strong>Last login at:</strong>
  <%= @user.last_login_at %>
</p>

<p>
  <strong>Current login ip:</strong>
  <%= @user.current_login_ip %>
</p>

<p>
  <strong>Last login ip:</strong>
  <%= @user.last_login_ip %>
</p>

<%= link_to_if(is_admin? || current_user == @user, 'Edit', edit_user_path(@user)){} %> |
<%= link_to 'Back', users_path %>
