<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @font_size.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @font_size.value %>
</p>

<%= link_to 'Edit', edit_font_size_path(@font_size) %> |
<%= link_to 'Back', font_sizes_path %>
