<%= form_for(avatar) do |f| %>
  <% if avatar.errors.any? %>
    <div id="error_explanation">
      <h2><%= avatar.errors.count %> hiba miatt nem menthető:</h2>

      <ul>
      <% avatar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="actions">
    <%= f.submit "Mentés" %>
  </div>
<% end %>
