<%= link_to "▲#{p.upvotes.size}", votes_path(vote:{user_id: current_user.id, post_id: p.id}), method: "post", title: "Jee", :remote => true %> 
<%= link_to "▼#{p.downvotes.size}", votes_path(vote:{user_id: current_user.id, post_id: p.id, downvote: true}), method: "post", title: "Dikk", :remote => true %>
<!--<div class ="votelink">
  <%= p.upvotes.size %><br/>
  <%= link_to "Dikk", votes_path(vote:{user_id: current_user.id, post_id: p.id}), method: "post", title: "Jee", :remote => true %> 
</div>
<div class ="votelink">
  <%= p.downvotes.size %><br/>
  <%= link_to "Jeee", votes_path(vote:{user_id: current_user.id, post_id: p.id, downvote: true}), method: "post", title: "Dikk", :remote => true %>
</div>-->
