<% if params[:user_id] %>
<h3><%= @user.username %> hozzászólásai</h3>
<% else %>
<h3>Találatok a "<%= params[:search_term]%>" kifejezésre</h3>
<% end %>
<%= paginate @posts %>
<%= render partial: "searched_posts" %>
<%= paginate @posts %>
