<div id = "stats_table">
  <table>
    <thead>
      <tr>
        <th colspan=2><%= link_to "<", stats_path(from: @from - 1.months, to: @to - 1.months) %> <%= l @from, format: :dateonly  %> - <%= l @to, format: :dateonly %> <%= link_to ">", stats_path(from: @from + 1.months, to: @to + 1.months) %></th>
      </tr>
      <tr>
        <th><%= link_to "User", stats_path(from: @from, to: @to, order: "user") %> </th>
        <th><%= link_to "Hozzászólások", stats_path(from: @from, to: @to, order: "posts") %></th>
      </tr>
    </thead>
    <tbody>
      <% @count.each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
        <tr>
          <td>Összes</td>
          <td><%= @sum_count %></td>
        </tr>
    </tbody>
  </table>
</div>
<%= content_tag(:div,"", id: "stats_barchart", data: {series: @count, sum: @sum_count}) %>
<%= content_tag(:div,"", id: "stats_linechart", data: {series: @post_count}) %>
