<!DOCTYPE html>
<html>
  <head>
    <title>szólj hozzá 2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body style = <%="font-size:#{@font_size};"%>>
    <div id = "header">
      <div id = "top_menu">
        <span class="page_title">
          <%= link_to "szólj hozzá", root_path, class:"menu" %>
        </span>
        <span class="page_title">
          <%= ">> #{@page_title}" if @page_title %>
        </span>
      </div>
    </div>
    <div id = "main">
      <p id="notice"><%= notice %></p>
      <div id = "content">
        <%= yield %>
      </div>
    </div>
    <div id = "footer">
      <ul id = "bottom_menu">
        <% if current_user %>
          <li><%= link_to "#{current_user.username} adatlapja", current_user, class:"menu" %></li>
          <li><%= link_to "Többiek", users_path, class:"menu" %></li>
          <li><%= link_to "Kijelentkezés", sign_out_path, method: :delete, class:"menu" %></li>
          <li><%= is_admin? ? link_to("Admin ki", admin_up_users_path, class:"menu") : link_to("Admin be", admin_up_users_path, class:"menu") %></li>
          <li> 
            <%= form_tag posts_path, method: "get" do %>
              <%= text_field_tag :search_term, nil, placeholder: "Keresett kifejezés", size: "15" %>
              <%= submit_tag "Keresés" %>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "Bejelentkezés", sign_in_path, class:"menu" %></li>
          <li><%= link_to "Elfelejtett jelszó", forgotten_password_users_path, class:"menu" %></li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
