<!DOCTYPE html>
<html>
  <head>
    <title>Szoljhozza</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div id = "header">
      <div id = "top_menu">
        <p class = "centered">
          <%= link_to "Szólj hozzá!", root_path %><%= " >> #{@page_title}" if @page_title %>
        </p>
      </div>
    </div>
    <div id = "main">
      <p id="notice"><%= notice %></p>
      <div id = "content">
        <%= yield %>
      </div>
    </div>
    <div id = "footer">
      <div id = "bottom_menu">
        <p class = "centered">
          <% if current_user %>
            <%= link_to "#{current_user.username} adatlapja", current_user %>
            <%= link_to_unless(is_admin?, "Admin be", admin_up_users_path) %>
            <%= link_to "#{current_user.username} kijelentkezik", sign_out_path, method: :delete %>
            <%= link_to "Többiek", users_path %>
        </p>
          <div class = "form_container"> 
            <%= form_tag posts_path, method: "get" do %>
              <%= text_field_tag :search_term, nil, placeholder: "Keresett kifejezés" %>
              <%= submit_tag "Keresés" %>
            <% end %>
          <% else %>
            <%= link_to "Bejelentkezés", sign_in_path %>
            <%= link_to "Elfelejtett jelszó", forgotten_password_users_path %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
